
<ion-content>
        
        <div padding>
                <div class="activity-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                    <div class="type">RESTAURANT</div>
                            </ion-col>
                            <ion-col>
                                    <div class="hours" float-right> 24 Aout à 18h30</div>
                            </ion-col>
                        </ion-row>
    
                        <ion-row>
                            <ion-col>
                                    <div class="name">Tero Restaurant</div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    </div>
                    <button routerLink="/activity-selected">VOIR LES INFORMATIONS</button>
        </div>
    <div padding>
            <div class="activity-card">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                                <div class="type">RESTAURANT</div>
                        </ion-col>
                        <ion-col>
                                <div class="hours" float-right> 10 janvier à 18h30</div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                                <div class="name">Tero Restaurant</div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                    </ion-row>
                </ion-grid>
                </div>
                <button>DONNER SON AVIS</button>
    </div>

   
</ion-content>
