<ion-content padding>


<h2>
            Quel type ?
        </h2>
        <ion-item routerLink="/steps/step9">
            <ion-label >
                    Divertissement
            </ion-label>
        </ion-item>
        <ion-item routerLink="/steps/step9">
            <ion-label>
                    Culturel
            </ion-label>
        </ion-item>
        <ion-item routerLink="/steps/step9">
          <ion-label>
                Bar
          </ion-label>
      </ion-item>

      <ion-item routerLink="/steps/step9">
        <ion-label>
                Club/Nightlife
        </ion-label>
    </ion-item>

    <ion-item routerLink="/steps/step9">
        <ion-label>
                Sport
        </ion-label>
    </ion-item>
</ion-content>
