<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content >
        <img src="/assets/images/backgr.jpeg">
        <div padding>
            <div  class="isActivated">
                <p>Vous avez choisis cette activité</p>
                <button>Annuler l'activité</button>
            </div>
          </div>
            <ion-grid padding>
                <ion-row>
                    <ion-col>
                            <div class="name">Tero Restaurant</div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                            <div class="grey"><ion-icon name="pin"></ion-icon> BIERGES</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                            <div class="grey">Rue des Grands Carmes</div>
                    </ion-col>
                </ion-row>
            <ion-row>
                    <ion-col>
                            <div class="grey"><ion-icon name="call"></ion-icon> 0491 89 09 24</div>
                    </ion-col>
            </ion-row>
            </ion-grid>

            <div class="interest" padding>
                <div class="badge">Vegetarian</div>
                <div class="badge">Hallal</div>
                <div class="badge">Vegetalien</div>
                <div class="badge">Gluten</div>
            </div>
</ion-content>
