<ion-content padding>
<ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 60%">
        <img src="./assets/images/pos.jpg">
      <h3 text-center>Partagez votre localisation pour recevoir des recommendations près de chez vous</h3>
    </ion-row>
</ion-grid>
<div class="bottom-button" padding>
    <ion-button  expand="block" routerLink="/steps/step5">PARTAGER LOCALISATION</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/steps/step5">Non, merci   </ion-button>
</div>
</ion-content>


